$tilde-blue-color-1:#121b21;

$tilde-blue-color-3:#283136;

$tilde-blue-color-4:#00afc4;

$tilde-blue-color-5:#0a343c;

$tilde-blue-color-6:#535b60;

$tilde-grey-color-1:#c4cbcf;

$tilde-grey-color-2:#edf3f3;

$tilde-grey-color-3:#535b60;

$tilde-base-line-height:$baseLineHeight;

$tilde-base-font-size:$baseFontSize;