@import "compass/reset";
@import "compass";

@import "_bootstrap";
@import "font-awesome/font-awesome";

@import "_variables";

@import "_main";


@font-face {
	font-family: serifaBT;
	src: url('../fonts/serifaBT-light.ttf');
}
@font-face {
	font-family: futuraBT;
	src: url('../fonts/futuraBT-bold.ttf');
}


html{
	font-size:100%;
}
body{
	font-family: 'Open Sans';
}

.container{
	
	margin:auto;
	width:100%;
	max-width:960px;

	@media screen and ( max-width : 100px ) {
		max-width: auto;
	}
}

////////////////////////////////////////////////////////////////////
//*****Navigation*****************

.nav-back{
	background-color:$tilde-blue-color-1;
	text-align:center;
	height:65px;
}
.menu{
	
	float:right;
	color:$tilde-grey-color-1;
	display:inline-block;
	text-transform: uppercase;
	background-color:$tilde-blue-color-3;
	height:$tilde-base-line-height*2.7;
	width:$tilde-base-line-height*4.16;
	text-align:center;
	
	a{
		display: inline-block;
		margin: $tilde-base-line-height/1.2;
		font-size: $tilde-base-font-size/1.13;
		font-family:'futuraBT' Georgia, serif;
		color:white;

		&:hover{
			color:white;
			text-decoration: none;
		}
	}

	@media screen and ( min-width: 760px ) { 
		display:none; 
	}
}

.head-nav{
	
	background-color:$tilde-blue-color-1;
	height:0px;
	display:inline-block;
	
	.nav-list{
		
		margin:auto;
		margin-top: $tilde-base-line-height*2.7;
		background-color: $tilde-blue-color-3;
		
		li {
			background-color:$tilde-blue-color-3;
			width: 100%;
			text-align: center;
			height: $tilde-base-line-height*2.08;
			
			a {
				color:$tilde-grey-color-1;
				display:inline-block;
				margin-top:$tilde-base-line-height/1.02;
				text-transform: uppercase;
				font-size: $tilde-base-font-size/1.13;
				font-family:'futuraBT' Georgia, serif;

				@media screen and ( max-width: 760px ) { 
					margin-top: $tilde-base-line-height/1.6;
				}
				
				&:hover{
					text-decoration: none;
					color:white;
				}
			}

			@media screen and ( min-width: 760px ) { 
				display: inline-block;
				background-color:$tilde-blue-color-1;
				width: $tilde-base-line-height*4.16;
				margin-right:$tilde-base-line-height/1.2;
			}

			
		}

		@media screen and ( min-width: 760px ) { 
			margin-top: 0px;
			background-color:$tilde-blue-color-1;
			width: $tilde-base-line-height*20.83;
			margin: auto;
		}

	}


	@media screen and ( min-width: 760px ) { 
		height:$tilde-base-line-height*2.7;
	}
	
}

.logo{
	display:inline-block;
	@media screen and ( max-width: 760px ) { 
		float:left;
		margin: $tilde-base-line-height/1.6;
	}
}

.expanded{
	display:block;
	border-bottom:1px solid #232729;
}
.contracted{
	display: none;
}
.push{
	margin-top:$tilde-base-line-height*8.45;
}

////////////////////////////////////////////////////////////////////
//*****Introduction*****************

.intro-back{
	background-color:$tilde-blue-color-4;
	padding:$tilde-base-line-height*2.5 $tilde-base-line-height/1.2 0px $tilde-base-line-height/1.2;
	
	@media screen and ( max-width: 760px ) { 
		padding:$tilde-base-line-height $tilde-base-line-height/1.2 0px $tilde-base-line-height/1.2;
	}
}

.intro{
	text-align:center;
	
	h1{
		font-family:'futuraBT' Georgia, serif;
		color:white;
		text-transform: uppercase;
		font-size: $tilde-base-line-height*2.29;
		line-height: $tilde-base-line-height*2.5;
		
		
		@media screen and ( max-width: 1000px ) { 
			font-size: $tilde-base-line-height*1.87;
			line-height: $tilde-base-line-height*1.87;
		}
		@media screen and ( max-width: 760px ) { 
			font-size: $tilde-base-line-height*1.29;
			line-height: $tilde-base-line-height*1.41;
		}
	}

	.title{
		color:$tilde-blue-color-5;
		font-size: $tilde-base-line-height/1.2;
		text-transform: uppercase;
		font-weight: 900;
		font-family:'futuraBT' Georgia, serif;
		background:url('../img/dot.gif') center repeat-x;
		margin-bottom: $tilde-base-line-height*2.08;
		
		@media screen and ( max-width: 760px ) { 
			font-size: $tilde-base-line-height/1.71;
			margin-bottom: $tilde-base-line-height/1.6;
		}
		
		span {
			background-color:$tilde-blue-color-4;
			padding:0px $tilde-base-line-height*1.83 0px $tilde-base-line-height*1.83;

			@media screen and ( max-width: 760px ) { 
				padding:0px $tilde-base-line-height 0px $tilde-base-line-height;
			}
		}
	}
	.content{
		
		font-family:'serifaBT' Georgia, serif;
		color:white;
		font-size: $tilde-base-line-height;
		font-weight: 300;
		line-height: $tilde-base-line-height*1.29;
		margin-bottom: $tilde-base-line-height*1.29;
		display: inline-block;
		
		@media screen and ( max-width: 1000px ) { 
			font-size: $tilde-base-line-height/1.26;
			line-height: $tilde-base-line-height*1.08;
		}
		
		span{
			@media screen and ( min-width: 760px ) { 
				display: block;
			}
		}
	}
	.call-to-action{
		width: 100%;
		height: $tilde-base-line-height*2.5;
		background:url('../img/dot.gif') center repeat-x;

		div{
			background-color:$tilde-blue-color-4;
			width: $tilde-base-line-height*10.41;
			margin:auto;
			
			a{
				color:black;
				text-transform:uppercase;
				font-family: 'futuraBT', Georgia, serif;
				font-size: $tilde-base-line-height/1.6;
				display:inline-block;
				line-height: $tilde-base-line-height*2.58;
				width: $tilde-base-line-height*7.66;
				background:url(../img/yellow-arrow.png) no-repeat;

				&:hover{
					text-decoration: none;
					color:white;
				}
			}
		}
	}


	.hero-team{
		
		margin: auto;
		
		img {
			display: block;
			margin:auto;
			width: $tilde-base-line-height*23.45;
			height: $tilde-base-line-height*9.95;

			@media screen and ( max-width: 615px ) { 
				width: 100%;
				height: auto;
			}
		}
	
	}

}

